.alerts {
    width: 50%;
    position: fixed;
    left: 25%;
    z-index: 9999;
    text-align: center;
}

.nav-link:link {
    color: black;
}

.navs {
    margin-top: 14vh;
}

h1 {
    font-size: 82px;
}

h2 {
    font-size: 35px;
    font-weight: 370;
    margin-bottom: 30px;
}

h3 {
    font-size: 19px;
    margin-bottom: 30px;
    font-weight: 370;
}

.form-group {
    margin-bottom: 18px;
}

.form-control {
    width: 350px;
    height: 50px;
    transition: 0.3s;
    border-width: 1px;
}

.form-control:hover {
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.1));
}

.form-control:focus {
    border-color: #686868;
    box-shadow: 0 0 0 0.2rem rgba(104, 104, 104, 0.25);
}

.btn-secondary {
    background-color: #272727;
    border-color: #272727;
    width: 350px;
    height: 50px;
}

.btn-secondary:hover {
    background-color: #686868;
    border-color: #686868;
}

a {
    color: #272727;
    text-decoration: underline;
}

.redirect {
    font-weight: bold;
}

.redirect span {
    margin-right: 12px;
}