<nav class="navbar fixed-top">
        {% if current_user.is_authenticated %}
            <button class="login logout">
                <a href="/logout"><span>Log Out</span></a>
            </button>
        {% else %}
            <button class="login">
                <a href="/login"><span>Log In</span></a>
            </button>
        {% endif %}
    </button>
    <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" id="offcanvasNavbar">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="menu-item">
                    <hr />
                    <a class="nav-link" href="/"><i class="home-icon"></i><span id="icon-text">Home</span></a>
                    <hr />
                </li>
                <li class="menu-item">
                    <a class="nav-link" href="/profile/email"><i class="profile-icon"></i><span id="icon-text">Profile</span></a>
                    <hr />
                </li>
                <li class="menu-item">
                    <a class="nav-link" href="https://github.com/colearm/pubsynth#pubsynth" target="_blank" rel="noopener noreferrer"><i class="about-icon"></i><span id="icon-text">About</span></a>
                    <hr />
                </li>
            </ul>
        </div>
    </div>
</nav>