<nav class="navbar fixed-top">
    <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" type="button" aria-label="offcanvas menu toggler" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" id="offcanvasNavbar">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="menu-item">
                    <hr />
                    <a class="nav-link" href="/"><i class="home-icon"></i><span id="icon-text">Home</span></a>
                    <hr />
                </li>
                <li class="menu-item">
                    <a class="nav-link" href="/profile/email"><i class="profile-icon"></i><span id="icon-text">Profile</span></a>
                    <hr />
                </li>
                <li class="menu-item">
                    <a class="nav-link" href="https://github.com/colearm/pubsynth#pubsynth" target="_blank" rel="noopener noreferrer"><i class="about-icon"></i><span id="icon-text">About</span></a>
                    <hr />
                </li>
            </ul>
        </div>
    </div>
</nav>