<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>PubSynth</title>
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <style></style>
    </head>
    <body style="background-image: url(/static/bg.png)">
        <h1>Register</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.email }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
        </form>
        {% if form.email.errors %}
            <div>
                {% for error in form.email.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            </div>
        {% elif form.username.errors %}
            <div>
                {% for error in form.username.errors %}
                    <span style="color: red">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            <br>
        {% endif %}
        <br>
        <span>Already have an account? </span><a href="/login">LOG IN</a>
    </body>
</html>