<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Reset Password · PubSynth</title>
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <style></style>
    </head>
    <body style="background-image: url(/static/bg.png)">
        <h1>Reset Password</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.password }}
            {{ form.confirm_password }}
            {{ form.submit }}
        </form>
        {% if invalid %}
            <div>
                <span style="color: red">{{ invalid }}</span>
            </div>
        {% else %}
            <br>
        {% endif %}
        <br>
    </body>
</html>